<header class="bg-white shadow">
    <div class="max-w-5xl mx-auto px-4 py-6 sm:px-6 lg:px-8 flex justify-between items-center">
        <div>
            <h1 class="text-3xl font-bold tracking-tight text-gray-900"><a href="/">FOMO25</a></h1>
        </div>

        <button id="menu-toggle" class="focus:outline-none block md:hidden">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16">
                </path>
            </svg>
        </button>

        <nav id="menu" class="hidden md:block top-4">
            <ul class="flex space-x-6 justify-center">
                <li><a href="/" class="text-gray-900 hover:text-gray-600">Home</a></li>
                <li><a href="/challenge" class="text-gray-900 hover:text-gray-600">Challenge</a></li>
                <li><a href="/faq" class="text-gray-900 hover:text-gray-600">FAQ</a></li>
                <li><a href="/organizers" class="text-gray-900 hover:text-gray-600">Organizers</a></li>
                <li>
                    <a href="/signup"
                        class="text-white font-bold hover:text-gray-100 bg-gradient-to-r from-pink-400 to-pink-700 px-5 py-2 rounded-lg shadow-lg transform hover:scale-105 transition duration-300">
                        Join!
                    </a>
                </li>
            </ul>
        </nav>

        <div id="mobile-menu"
            class="fixed top-0 left-0 h-full w-64 bg-white shadow transform -translate-x-full transition-transform duration-300 ease-in-out z-50 md:hidden p-6">
            <button id="close-menu" class="mb-4 focus:outline-none">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                    </path>
                </svg>
            </button>
            <ul class="flex flex-col space-y-4">
                <li><a href="/" class="text-gray-900 hover:text-gray-600">Home</a></li>
                <li><a href="/challenge" class="text-gray-900 hover:text-gray-600">Challenge</a></li>
                <li><a href="/faq" class="text-gray-900 hover:text-gray-600">FAQ</a></li>
                <li><a href="/organizers" class="text-gray-900 hover:text-gray-600">Organizers</a></li>
                <li>
                    <a href="/signup"
                        class="text-white font-bold hover:text-gray-100 bg-gradient-to-r from-pink-400 to-pink-700 px-5 py-2 rounded-lg shadow-lg transform hover:scale-105 transition duration-300">
                        Join!
                    </a>
                </li>
            </ul>
        </div>

        <img src="/images/miccai.png" alt="MICCAI Logo" class="h-20 w-auto object-contain float-left">
    </div>
</header>